* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "calibri", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
}

/* Navbar Styling */
.go-to-home-nav-bar{
  position: fixed;
  top: 0;
  width: 100%;
  height: 6vh;
  background-color:rgb(165, 42, 42);
  display: flex;
  /* justify-content: space-between; */
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.go-to-home-nav-bar button {
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.go-to-home-nav-bar i{
  font-size: 1.5rem;
  cursor: pointer;
  color: #ffffff;
  padding: 10px;
}


/* Header Styling */

.main-image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6vh;
}

.main-image img {
  width: 100%;
  height: 30vh;
  padding: 15px;
  background-color: #f1f1f1;
}

h2 {
  font-size: 2.5rem;
  color: rgb(165, 42, 42);
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
}

p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.6;
  padding: 10px;
}

/* Image Gallery */
.gallery-grid {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.gallery-grid img {
  width: 150px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.gallery-grid img:hover {
  transform: scale(1.05);
}

/* Dropdown Styling */

.dropdown-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}



.dropdown {
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 20px 0px;
}

.dropbtn {
  background-color: rgb(165, 42, 42);
  border: solid 1px rgb(165, 42, 42);
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.dropbtn:hover {
  background-color: white;
  color: rgb(165, 42, 42);
  border: 1px solid rgb(165, 42, 42);
}

/* Dropdown Content */
.dropdown-content {
  display: block;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;

  bottom: 100%; /* Push dropdown content above the button */
  left: 0;
  margin-bottom: 5px; /* Adds some spacing */
}

.dropdown-item {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.dropdown-item:hover {
  background-color: #ddd;
}

/* iFrame Styling */
.iframe-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 94%;
}


iframe {
  width: 100%;
  height: 94vh;
  border: none;
}


/* Footer Styling */

.footer {
  background-color: rgb(243, 243, 243);
  padding: 5px 0;
  text-align: center;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
