* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "calibri", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
}

/* Navbar Styling */
.go-to-home-nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6vh;
  background-color: rgb(165, 42, 42);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  z-index: 1001;
}

.go-to-home-nav-bar i {
  font-size: 1.5rem;
  cursor: pointer;
  color: #ffffff;
  padding: 10px;
}

.home-button {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #ffffff;
  cursor: pointer;
  margin-left: 10px;
}



.menu-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute; /* Ensure it's positioned relative to the button */
  top: 100%; /* Moves it directly below the button */
  right: 0;
  background-color: white;
  padding: 10px;
  gap: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1000; /* Ensures it appears above other elements */
  font-weight: bold;
  cursor: pointer;
}

.server-selected{
  color: rgb(165, 42, 42);
}

/*Modal Styling */

.modal-text{
  font-size: 1.2rem;
}

.modal-button-container{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 10px;
  flex-wrap: wrap;
}

.modal-metaflo-button, .modal-aims-metaflo-button, .modal-l1-test-button{
  background-color: rgb(165, 42, 42);
  border: none;
  color: white;
  padding: 8px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
  border: solid 1px rgb(165, 42, 42);
}



/* Home Page */
.home-page {
  text-align: center;
  padding: 20px 0px;
  padding-bottom: 0;
  margin-top: 6vh;
  background-color: #f9f9f9;
}
.main-image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px 0px;
  margin-left: auto;
  margin-right: auto;

}

.main-image img{
  width: 80%;
  height: 80%;
}


.home-title{
  font-size: 3rem;
  margin: 20px;
  padding: 20px 0px;
  padding-bottom: 0;
  text-align: left;
  font-weight: bold;
  color: rgb(165, 42, 42);
}

.home-text{
  margin: 20px;
  margin-top: 0;
  padding: 20px 0px;
  padding-top: 0;
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.2;
}



.carousel-image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px 0px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* Buttons */
.home-button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px;
  padding: 20px 0px;
  flex-wrap: wrap;
}

.login-button,
.guest-button {
  background-color: rgb(165, 42, 42);
  border: none;
  color: white;
  padding: 10px 25px;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.3s;
  border: solid 1px rgb(165, 42, 42);
}

.login-button:hover,
.guest-button:hover {
  background-color: white;
  color: rgb(165, 42, 42);
  border: 1px solid rgb(165, 42, 42);
}


/* Login Page */
/* hide admin navbar */
.navbar.navbar-light.navbar-expand-lg {
  display: none !important;
}

.login-iframe-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.login-iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.login-checking-server{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
}


.server-error-message{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight:600;
  text-align: center;
}

.server-error-go-home{
  background-color: rgb(165, 42, 42);
  border: none;
  color: white;
  padding: 10px 25px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.3s;
  border: solid 1px rgb(165, 42, 42);
  width: 30%;
  text-align: center;
  margin: 20px;
}

/* Guest Page */
.guest-page {
  text-align: center;
  padding: 20px;
  margin-top: 3vh; /* Adjust margin to avoid navbar overlap */
  margin-bottom: 3vh;
}



/* Dropdown Styling */

.guest-dropdown-button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}



.guest-dropdown{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px 0px;
  width: 50%;
}

.guest-dropbtn {
  background-color: rgb(165, 42, 42);
  border: solid 1px rgb(165, 42, 42);
  color: white;
  padding: 15px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.3s;
  width: 100%;
}

.guest-dropbtn:hover {
  background-color: white;
  color: rgb(165, 42, 42);
  border: 1px solid rgb(165, 42, 42);
}

/* Dropdown Content */
.guest-dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  top: 100%; /* Position below the button */
  /* left: 0; */
  margin-top: 0px; /* Add space between button and dropdown */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000; /* Ensure it appears above other elements */
}


.guest-dropdown-item {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.guest-dropdown-item:hover {
  background-color: #ddd;
}

/* iFrame Styling */
.guest-iframe-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 94%;
  z-index: 1000; 
  background-color: white;
}

.guest-iframe-container iframe {
  width: 100%;
  height: 94vh;
  border: none;
  background-color: white;
  padding: 10px;
}






/* Footer */
.footer {
  background-color: rgb(243, 243, 243);
  padding: 10px 0;
  text-align: center;
  width: 100%;
}


.footer-text{
  font-size: 1.2rem;
  padding-bottom: 10px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {

  .home-text{
    font-size: 1rem;
  }
  .carousel-image{
    width: 90%;
  }

  .guest-dropdown-button-container{
    width: 100%;
  }
  .guest-dropdown {
    width: 90%;
  }
  .footer img{
    width: 50%;
  }

  .server-error-go-home{
    width: 70%;
  }
}